@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #030712;
  color: #ffffff;
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

/* Custom Audio Player Styling for Dark Theme */
.custom-audio-player::-webkit-media-controls-panel {
  background-color: transparent;
}

.custom-audio-player::-webkit-media-controls-play-button,
.custom-audio-player::-webkit-media-controls-mute-button {
  background-color: #3b82f6;
  border-radius: 50%;
  transform: scale(0.8);
}

.custom-audio-player::-webkit-media-controls-current-time-display,
.custom-audio-player::-webkit-media-controls-time-remaining-display {
  color: #94a3b8;
  font-weight: bold;
}

.custom-audio-player::-webkit-media-controls-timeline {
  background-color: #1f2937;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
